{% extends "layout.html" %}

{% block title %}Landing Page{% endblock %}

{% block body %}
<div class="w-full h-screen relative flex flex-col overflow-hidden font-[Inter]">
    
    <!-- Imagen de fondo -->
    <div class="absolute top-0 left-0 w-full h-full bg-[url('/static/images/tabla1.png')] bg-repeat-x bg-contain z-0"></div>
    
    <!-- Capa opaca -->
    <div class="absolute top-0 left-0 w-full h-full bg-black/40 z-10"></div>
    
    <!-- Contenido (botones) -->
    <div class="relative z-20 flex-1 flex flex-col justify-end items-center gap-4 px-8 py-4">
        <button onclick="window.location.href='/login'" class="px-32 py-4 bg-[#F5BB00] text-white font-bold rounded-lg hover:bg-[#D7AF31] transition">
            Log In
        </button>
        <button onclick="window.location.href='/signup'" class="px-30 py-4 bg-[#8EA604] text-white font-bold rounded-lg hover:bg-[#7A9A03] transition">
            Sign Up
        </button>
    </div>
    <div class="mb-36"></div>
</div>
{% endblock %}